.clrContainer {
    border: 5px solid red;
    margin: 30px 0px;
    display: flex
;
    justify-content: space-evenly;
    align-items: center;
    gap: 23px;
}

.clrBox {
    height: 150px;
    width: 150px;
    background-color: lavender;
    /* background-color: teal; */
    /* background-color: coral; */
    /* background-color: #FFBF00; */
    /* background-color: #FFCBA4; */
    /* background-color: aqua; */
    border: 2px solid black;
    margin: 23px 0px;
}

.container{
    border: 5px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    /* color: wheat; */
}

/* base color */
.box1{
    /* background-color: rgb(255, 192, 203); */
    background-color: rgb(0, 0, 255);
}

/* shade | darker */
.box2{
    /* background-color: rgb(200, 150, 160); */
    background-color: rgb(0, 0, 200);
}

.box3{
    /* background-color: rgb(150, 100, 110); */
    background-color: rgb(0, 0, 150);
}

.box4{
    /* background-color: rgb(100, 50, 60); */
    background-color: rgb(0, 0, 100);
}

.box5{
    background-color: rgb(0, 0, 50);
}

/* tint | lighter */
.box6{
    /* background-color: rgb(255, 220, 225); */
    background-color: rgb(50, 50, 255);
}

.box7{
    /* background-color: rgb(255, 240, 245); */
    background-color: rgb(100, 100, 255);
}

.box8{
    /* background-color: rgb(255, 250, 252); */
    background-color: rgb(150, 150, 255);
}

.box9{
    background-color: rgb(200, 200, 255);
}

/* tone | muted */
.box10{
    /* background-color: rgb(200, 180, 185); */
    background-color: rgb(50, 50, 200);
}

.box11{
    /* background-color: rgb(150, 140, 145); */
    background-color: rgb(100, 100, 180);
}

.box12{
    /* background-color: rgb(120, 110, 115); */
    background-color: rgb(120, 120, 160);
}

.box13{
    background-color: rgb(150, 150, 150);
}

.foodContainer{
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    background-color: blue;
}

/* img rotation */
/* .foodContainer img{
    border-radius: 50%;
    animation: foodie 5s ease .2s infinite;
}

@keyframes foodie {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
} */

.parentDiv{
    height: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.childDiv{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

.color1{
    background-color: #6A0DAD;
}

.color2{
    background-color: #20C997;
}

.color3{
    background-color: #1D3557;
}

.color4{
background-color: #E63946;
}

.color5{
    background-color:  #2C3E50;
}

.color6{
    background-color:  #F4C542;
}

.congratulationBox{
  background-color: green;
  color: pink;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  font-size: 50px;
}

footer{
  background-color: rgb(5, 5, 51);
  text-align: center;
  margin-bottom: 100px;
  padding: 20px 0px;
}

footer a{
  text-decoration: none;
  color: white;
}